body {
  background-color: rgb(240, 240, 240);
}

.ash {
  color: rgb(165, 165, 165);
}

.black {
  color: rgb(49, 49, 49);
}

.container {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 5px 8px 5px rgb(206, 206, 206);
}

.container > * {
  box-sizing: border-box;
}

.list-item {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(165, 165, 165);
}

.add {
  height: 9vh;
  margin-left: 20px;
  border: none;
}

::placeholder {
  font-style: italic;
  font-size: 1.2em;
}

.n-icon {
  margin-top: 8px;
}

.check {
  margin-left: 20px;
}

.task {
  font-size: 1.2em;
  padding-left: 20px;
}

.icon {
  padding-top: 15px;
  position: absolute;
  right: 30px;
}

.clear {
  justify-content: center;
  background-color: rgb(202, 202, 202);
}
